/**
 * Page header elements 
 */
#page-node-section {
}

	#page-node-header {
		height: 375px;
		margin: -133px 0 15px;
	}
	
	#page-slideshow {
		height: 607px;
		margin: -133px 0 15px;
	}
	
	#page-node-header-inner,
	#page-slideshow-inner {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: inherit;
		overflow: hidden;
	}
	
		#page-node-header-curved-border,
		#page-slideshow-curved-border {
			bottom: -376px;
		}
	
		.borderradius #page-node-header-curved-border,
		.borderradius #page-slideshow-curved-border {
			bottom: -57.8%;
		}
	
		#page-node-header-image,
		.page-slideshow-slide-image {
			width: 100%;
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: 0;
		}
		
		@media screen and (max-width: 960px) {
			#page-node-header-image,
		  .page-slideshow-slide-image {
		  	bottom: 0;
		  }
		}
		@media screen and (min-width: 960px) and (max-width: 1280px) {
			#page-node-header-image,
		  .page-slideshow-slide-image {
		    bottom: 0%;
		  }
		}
		@media screen and (min-width: 1280px) and (max-width: 1440px) {
			#page-node-header-image,
		  .page-slideshow-slide-image {
		    bottom: -17%;
		  }
		}
		@media screen and (min-width: 1440px) {
			#page-node-header-image,
		  .page-slideshow-slide-image {
		    bottom: -28%;
		  }
		}
		
		#page-node-header-inner,
		.page-slideshow-slide {
			display: table;
			-webkit-backface-visibility: hidden;
			-webkit-transform: translate3d(0,0,0);
			-webkit-perspective: 1000;
		}
	
		#page-node-header-text,
		.page-slideshow-slide-text {
			position: absolute;
			z-index: 5;
			font-family: "Alright Sans", sans-serif;
			font-size:  6.75em;
			color: white;
			text-align: center;
			letter-spacing: -5px;
			line-height: 110px;
			display: table-cell;
			vertical-align: middle;
			position: relative;
			-webkit-backface-visibility: hidden;
		}
	
		#page-node-header-text {
			font-size: 4.8em;
			line-height: 80px;
			height: 280px;
			margin: 0;
			padding: 60px 17% 0;
		}
	
		.page-slideshow-slide-text {
			padding: 0 16% 77px;
		}
		
		@media screen and (max-width: 960px) {
			#page-node-header-image,
		  .page-slideshow-slide-image {
		  	bottom: 0;
		  }
		
			.page-slideshow-slide-text {
				padding-left: 5%;
				padding-right: 5%;
			}
	
			#page-node-header-text {
				padding-left: 17%;
				padding-right: 17%;
			}
		}
		@media screen and (min-width: 960px) and (max-width: 1280px) {
			#page-node-header-image,
		  .page-slideshow-slide-image {
		    bottom: 0%;
		  }
		
			.page-slideshow-slide-text {
				padding-right: 10%;
				padding-left: 10%;
			}
	
			#page-node-header-text {
				padding-left: 19%;
				padding-right: 19%;
			}
		}
		@media screen and (min-width: 1280px) and (max-width: 1440px) {
			#page-node-header-image,
		  .page-slideshow-slide-image {
		    bottom: -17%;
		  }
		
			.page-slideshow-slide-text {
				padding-left: 13%;
				padding-right: 13%;
			}
	
			#page-node-header-text {
				padding-left: 22%;
				padding-right: 22%;
			}
		}
		@media screen and (min-width: 1440px) and (max-width: 1680px) {
		
			.page-slideshow-slide-text {
				padding-left: 19%;
				padding-right: 19%;
			}
	
			#page-node-header-text {
				padding-left: 26%;
				padding-right: 26%;
			}
		}
		@media screen and (min-width: 1680px) {
			#page-node-header-image,
		  .page-slideshow-slide-image {
		    bottom: -28%;
		  }
		
			.page-slideshow-slide-text {
				padding-left: 22%;
				padding-right: 22%;
			}
	
			#page-node-header-text {
				padding-left: 30%;
				padding-right: 30%;
			}
		}
	
		#page-slideshow .page-slideshow-learn-more-link {
			width: 233px;
			position: absolute;
			z-index: 10;
			bottom: 110px;
			left: 50%;
			line-height: 30px;
			padding: 14px 0 11px;
			font-size: 1.625em;
			font-family: "Alright Sans", sans-serif;
			color: #fff;
			margin-left: -116px;
			background: transparent url(../images/main/white-transparent-background.png);
			background: rgba(255, 255, 255, 0.3);
			text-align: center;
			/* border-radius */
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			-ms-border-radius: 4px;
			-o-border-radius: 4px;
			border-radius: 4px;
			/* transition */
			-webkit-transition: background-color .2s ease;
			-moz-transition: background-color .2s ease;
			-ms-transition: background-color .2s ease;
			-o-transition: background-color .2s ease;
			transition: background-color .2s ease;
		}
	
		#page-slideshow .page-slideshow-learn-more-link:hover {
			background: rgba(255, 255, 255, 0.5);
			text-decoration: none;
		}
		
	/**
	 * Content area
	 */
	.page-section-header {
		width: 73%;
		text-align: center;
		margin: 10px auto;
		font-family: "Alright Sans Light", sans-serif;
		font-size: 3.4375em;
		color: #764980;
		position: relative;
		z-index: 101;
	}
	.page-node-68 .page-section-header {
		width: 73%;
		text-align: center;
		margin: 60px auto 10px;
		font-family: "Alright Sans", sans-serif;
		font-size: 4.8em;
		color: #764980;
	}
	
	wide.page-section-header {
		width: 90%;
	}
	
	.page-section-content {
		width: 73%;
		text-align: center;
		margin: 0 auto;
		font-size: 1.25em;
		line-height: 1.6em;
		padding-bottom: 40px;
		position: relative;
		z-index: 101;
	}
	
	.wide .page-section-content {
		width: 90%;
	}